body{
    background: #BDBDBD;
}

/* Rafael */
.contenedor{
    overflow: hidden;
    position: relative;
    
}


.imagen-project h1 {
    width: 100%;
    text-align:center;
    font-size: 46px;
    font-weight: revert;
    color: black;
    position: absolute;
    top: 40%;
/
}
.imagen-project p {
    width: 100%;
    text-align:center;
    font-size: 36px;
    font-weight: bolder;
    color: black;
    position: absolute;
    top: 50%;

    text-shadow: 0 0 8px rgb(0, 0.8);
}


/* rafael */