body{
    background: #BDBDBD;
}

.pelao{
    border-radius:100%;
}

.box {
    background-color: #998d8d;
    padding-left: 250px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}