<!-- your html code here -->
<div class="container">
  <h3> <b>Contact</b></h3>
  <p>Donex ullamper nulla non metus auctor fringia. Veswtibilum id ligual porta felis euismod semper. Prasent commodo
    cursus magna, vel scelerique nis consecteud. Ficse dabius, tellus ac cursus commodo.</p>

  <div class="row d-flex justify-content-center align-items-center">
    <div class="box">
      <div class="col-12 d-flex justify-content-between align-items-center mb-3">
        <label for="staticEmail" class="w-25 text-end me-3 "><b>Your E-mail</b></label>
        <input type="email" class="form-control p-0" id="staticEmail" placeholder="Your email">
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center">
        <label for="inputMessaje" class="w-25 text-end pe-2 me-3"><b>Your message</b></label>
        <textarea class="form-control" id="inputMessaje" rows="3">
          Plase enter your menssaje here...
        </textarea>
      </div>
      <div class="col-12 d-flex flex-row-reverse bd-highlight">
        <button type="button" class="btn btn-primary my-2 bd-highlight">Submit</button>
      </div>
    </div>  
  </div>
</div>