<main>
    <div class="container">
        <div class="row">
            <div class="col-5 p-0 d-flex justify-content-end">
                <img src="assets/img/2.jpg" alt="" class="img-fluid rounded-circle float-start w-50">
            </div>
            <div class="col-7 px-25">
                <h1>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h1>
                <div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Vitae vero numquam quo fugiat et. Sequi, ipsa dignissimos 
                        optio dolore, iusto consectetur blanditiis soluta perspiciatis 
                        laboriosam obcaecati ullam. Repudiandae, esse illo.fugiat et. Sequi, ipsa dignissimos 
                        optio dolore, iusto consectetur blanditiis soluta perspiciatis 
                        laboriosam obcaecati ullam. Repudiandae, esse illo.</p>
                </div>
            </div>
        </div>
    </div>
</main>

